<p class="text-center text-muted" style="margin-bottom: 0px;">Direccion: <%= config.direccion %> - Cochabamba Bolivia</p>
<p class="text-center text-muted">&copy; Copyright 2026 <%= config.nombre_app %></p>