<meta charset="UTF-8">
<title><%= config.nombre_app %></title>

<style>
  body { 
    /*padding-top:50px; */
    background: rgba(133, 104, 73, 0.33);
  }
  header {
        /*overflow: hidden;*/
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1111;
    }
</style>