<style>
.top-msg {
  width: 100%;
  position: fixed;
  background-color: rgb(96 42 42 / 60%);
  color: rgba(250,251,255,0.95);
  font-family: "Lato", sans-serif;
  font-size: 18px;
}
.top-msg-close {
  float: left;
  box-sizing: border-box;
  padding-top: 17px;
  padding-right: 30px;
  width: 45px;
}

.top-msg-inner a {
  text-decoration: none;
  color: RGBA(0, 0, 0, 0.6);
  font-weight: bold;
}

.top-msg-inner a:hover {
  color: RGBA(0, 0, 0, 0.5);
}

.top-msg-inner {
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
  width: calc(100% - 110px);
}
.top-msg-ico {
  float: left;
  width: 65px;
  height: 57px;
  background-color: rgb(203 11 11 / 70%);
  text-align: center;
  font-size: 45px;
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a id="inventario_menu" class="nav-link" href="/inventario">Inventario</a>
      </li>
      <li class="nav-item">
        <a id="ventas_menu" class="nav-link" href="/pedidos">Pedidos(Ventas)</a>
      </li>
      <li class="nav-item">
        <a id="compras_menu" class="nav-link" href="/ingresos">Ingresos(Compras)</a>
      </li>
      <li class="nav-item">
        <a id="contenidos_menu" class="nav-link" href="/contenidos">Catalogos</a>
      </li>
      <li class="nav-item">
        <a id="reportes_menu" class="nav-link" href="/reporte">Reportes</a>
      </li>
      <li class="nav-item">
        <a id="historial_menu" class="nav-link" href="/historial">Historial</a>
      </li>
      <li class="nav-item">
        <a id="preferencias_menu" class="nav-link" href="/preferencias">Preferencias</a>
      </li>
      <li class="nav-item">
        <a id="about_menu" class="nav-link" style="cursor: pointer;" onclick="$('#about').show()">About</a>
      </li>
    </ul>
</nav>
<div id="message"></div>
<div class="top-msg" id="alert-message">
  <div class="top-msg-ico">
    !
  </div>
  <div class="top-msg-inner">
    <p>Existen varios productos que estan bajo el rango de existencia, Vea el <a style="color:red!important;" href="/inventario">Inventario</a> para ver mas informacion.</p>
  </div>
  <div class="top-msg-close" style="cursor: pointer;" onclick="$('#alert-message').hide()">&#10005;</div>    
</div>

<div id="about" style="background: #FFFFFF;position:fixed;margin-left:50%;margin-top:50%;width:400px;height:400px;margin-left:-200px;margin-top:-200px;display:none;top: 50%;left: 50%;border-radius: 10px;">
    <div style="cursor: pointer;float: right;padding: 20px;font-size: 12px;" onclick="$('#about').hide()">&#10005;</div>
    <div style="padding: 50px">
        <h4><a href="/inventario">Melamina Pro</a></h4>
        <img src="images/melaninapro_image.png" alt="Melamina pro"></img>
        <p>Welcome to Melamina Pro</p>
    </div>
</div>
