<style>
    .top-msg {
      width: 100%;
      position: fixed;
      background-color: rgb(96 42 42 / 60%);
      color: rgba(250,251,255,0.95);
      font-family: "Lato", sans-serif;
      font-size: 18px;
    }
    .top-msg-close {
      float: left;
      box-sizing: border-box;
      padding-top: 17px;
      padding-right: 30px;
      width: 45px;
    }

    .top-msg-inner a {
      text-decoration: none;
      color: RGBA(0, 0, 0, 0.6);
      font-weight: bold;
    }

    .top-msg-inner a:hover {
      color: RGBA(0, 0, 0, 0.5);
    }

    .top-msg-inner {
      float: left;
      box-sizing: border-box;
      padding: 0 10px;
      width: calc(100% - 110px);
    }
    .top-msg-ico {
      float: left;
      width: 65px;
      height: 57px;
      background-color: rgb(203 11 11 / 70%);
      text-align: center;
      font-size: 45px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/catalogos">
    <img width="30px;" src="images/logo.jpg" alt="Melamina pro"></img>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/views">Productos<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/inventario">Inventario</a>
      <a class="nav-item nav-link" href="/pedidos">Pedidos(Ventas)</a>
      <a class="nav-item nav-link" href="/ingresos">Ingresos(Compras)</a>
      <a class="nav-item nav-link" href="/catalogos">Catalogos</a>
      <a class="nav-item nav-link" href="/reporte">Reportes</a>
      <a class="nav-item nav-link" href="/historial">Historial</a>
      <a class="nav-item nav-link" href="/preferencias">Preferencias</a>
      <a class="nav-item nav-link" style="cursor:pointer;" onclick="$('#about').show()">About</a>
      <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
  </div>
</nav>

<div id="message"></div>

<% 
    let alert = 0;
    let controlValues = {};

    _control.forEach((control) => {
        controlValues[control.item] = Number(control.minimo);
    });

    _inventario.forEach((inventario) => {
        if (inventario.metraje >= 0 ) {
          if (inventario.existencia <= controlValues["Tapacantos"]) {
            alert++;
          }
        } else if (inventario.metraje == -1 ) {
          if (inventario.existencia <= controlValues["Melamina"]) {
            alert++;
          }
        } else if (inventario.metraje == -2 ) {
          if (inventario.existencia <= controlValues["Pegamento"]) {
            alert++;
          }
        } else if (inventario.metraje == -3 ) {
          if (inventario.existencia <= controlValues["Fondo"]) {
            alert++;
          }
        } else if (inventario.metraje == -4 ) {
          if (inventario.existencia <= controlValues["Tapatornillos"]) {
            alert++;
          }
        }
    });

    console.log("ALERT!!!",alert);
    if (alert) {
%>
<div class="top-msg" id="alert-message">
  <div class="top-msg-ico">
    !
  </div>
  <div class="top-msg-inner">
    <p>Existen <%-alert %> productos que estan bajo el rango de existencia, Vea el <a style="color:red!important;" href="/inventario">Inventario</a> para ver mas informacion.</p>
  </div>
  <div class="top-msg-close" style="cursor: pointer;" onclick="$('#alert-message').hide()">&#10005;</div>    
</div>
<% } //end alert %>

<div id="about" style="background: #FFFFFF;position:fixed;margin-left:50%;margin-top:50%;width:400px;height:400px;margin-left:-200px;margin-top:-200px;display:none;top: 50%;left: 50%;border-radius: 10px;">
    <div style="cursor: pointer;float: right;padding: 20px;font-size: 12px;" onclick="$('#about').hide()">&#10005;</div>
    <div style="padding: 50px">
        <h4><a style="color: cornflowerblue;">Melamina Pro</a></h4><br>
        <img width="300px;" src="images/melaninapro_image.png" alt="Melamina pro"></img>
        <br>
        <br>
        <br>
        <p>Welcome to Melamina Pro</p>
        <h4>Version: <%-process.env.npm_package_version %></h4>
    </div>
</div>