<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h4><a href="/inventario"><%= title %></a></h4>
    <img src="images/melaninapro_image.png" alt="Melamina pro"></img>
    <p>Welcome to <%= title %></p>
  </body>
</html>
