.navbar {
    padding: .5rem 1rem!important;
}
.edit-border {
    border: 1px solid #464444;
}
.edit-control {
    height: 20px;
    font-size: 10px;
}
.optionUnavailable {
    color: red;
    font-size: 26px;
    font-weight: 700;
}
.optionAvailable {
    color: green;
    font-size: 26px;
    font-weight: 700;
}
#selectBoxAvailable {
    /*background-color: rgba(233, 233, 243, 0.5); */
    border: 0px;
    outline: 0px;
}
.navbar {
    position: static!important;
}
.card {
    position: static!important;
}
.f-right {
    display: flex;
    justify-content: flex-end;
}
.f-30 {
    width: 55%;
    display:inline-block;
    margin-right: 10px;
}
.f-70 {
    width: 35%;
    display:inline-block;
    margin-left: 10px;
}
[id^="precio"], [id^="interno"], [id^="compra"], [id^="compramt"], [id^="ventamt"], [id^="laminapaquete"]  {
    width: 50px;
}
[id^="color"] {
    width: 110px;
}
[id^="medidas"] {
    width: 150px;
}
#medida-f {
    width: 120px;
}
[id^="marca"] {
    width: 70px;
}
[id^="provedor"] {
   width: 75px; 
}
.centered {/*fix for editor*/
   transform: translate(-20%, -15000%)!important;
   height: 1px!important;
}
input:read-only {/*mainly for saving last form*/
    background-color: lightgray;
    color: #333;
    border: 1px solid #ccc;
    outline: none;
}
#melamina-bg-form {
    background-color: rgba(23,44,122,0.4);
    backdrop-filter: blur(5px); /* The blur effect */
    -webkit-backdrop-filter: blur(5px); 
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    position:fixed;
    display: none;
    z-index:3;
}