
/*@import "bourbon@5.*";*/

table {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    color: rgba(0,0,0,.87);
    background-color:blanchedalmond;
}

.container {
    margin: 5% 3%;
    
    @media (min-width: 48em) {
        margin: 2%; 
    }
    
    @media (min-width: 75em) {
        margin: 2em auto;
        max-width: 75em;
    }
}

th {
    background-color: rgba(38,137,13,1);
    border: 1px solid rgba(134,188,37,1);
    font-weight: normal;
    text-align: center;
    color: white;
    
    &:first-of-type {
        text-align: left; 
    }
}

th,td {
        padding: .5em;
        vertical-align: middle;
}

caption {
        margin-bottom: 1em;
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        
        @media (min-width: 48em) {
            font-size: 1.5em;
        }
    }

.responsive-table {
    width: 100%;
    margin-bottom: 1.5em;
    border-spacing: 0;
    
    @media (min-width: 48em) {
        font-size: .9em; 
    }
    
    @media (min-width: 62em) {
        font-size: 1em; 
    }

    thead {
        position: absolute;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        padding: 0;
        border: 0;
        height: 1px; 
        width: 1px; 
        overflow: hidden;
        
        @media (min-width: 48em) {
            position: relative;
            clip: auto;
            height: auto;
            width: auto;
            overflow: auto;
        }
        
        th {
            background-color: rgba(38,137,13,1);
            border: 1px solid rgba(134,188,37,1);
            font-weight: normal;
            text-align: center;
            color: white;
            
            &:first-of-type {
                text-align: left; 
            }
        }
    }

    tbody,tr,th,td {
        display: block;
        padding: 0;
        text-align: left;
        white-space: normal;
    }

    tr {   
        @media (min-width: 48em) {
            display: table-row; 
        }
    }

    th,td {
        padding: .5em;
        vertical-align: middle;
        
        @media (min-width: 30em) {
            padding: .75em .5em; 
        }
        
        @media (min-width: 48em) {
            display: table-cell;
            padding: .5em;
        }
        
        @media (min-width: 62em) {
            padding: .75em .5em; 
        }
        
        @media (min-width: 75em) {
            padding: .75em; 
        }
    }

    caption {
        margin-bottom: 1em;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        
        @media (min-width: 48em) {
            font-size: 1.5em;
        }
    }

    tbody {
        @media (min-width: 48em) {
            display: table-row-group; 
        }
        
        tr {
            margin-bottom: 1em;
        
            @media (min-width: 48em) {
                display: table-row;
                border-width: 1px;
            }
        
            &:last-of-type {
                margin-bottom: 0; 
            }
        
            &:nth-of-type(even) {
                @media (min-width: 48em) {
                    background-color: rgba(0,0,0,.12);
                }
            }
        }
        
        th[scope="row"] {
            background-color: rgba(38,137,13,1);
            color: white;
            
            @media (min-width: 30em) {
                border-left: 1px solid rgba(134,188,37,1);
                border-bottom: 1px solid rgba(134,188,37,1);
            }
        
            @media (min-width: 48em) {
                background-color: transparent;
                color: rgba(0,0,0.87);
                text-align: left;
            }
        }
        
        td {
            text-align: right;
            
            @media (min-width: 48em) {
                border-left: 1px solid rgba(134,188,37,1);
                border-bottom: 1px solid rgba(134,188,37,1);
                text-align: center; 
            }
            
            &:last-of-type {
                @media (min-width: 48em) {
                border-right: 1px solid rgba(134,188,37,1);
                } 
            }
        }
        
        td[data-type=currency] {
            text-align: right; 
        }
        
        td[data-title]:before {
            content: attr(data-title);
            float: left;
            font-size: .8em;
            color: rgba(0,0,0,.54);
            
            @media (min-width: 30em) {
                font-size: .9em; 
            }
            
            @media (min-width: 48em) {
                content: none; 
            }
        } 
    }
}
