<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Conquering</title>
        <meta charset="UTF-8">
    </head>
    <link rel="stylesheet" href="stylesheets/style.css">
    <body>

        <form action="/kickass" method="POST">
            <input type="text" placeholder="Name" name="name">
            <input type="number" placeholder="Age" name="age">
            <input type="text" placeholder="Location" name="location">
            <button type="submit">Submit</button>
        </form>

        <ul>
            <% for(let i = 0; i < kickass.length; i++) {%>
                <li>
                    <span class="row"><%= kickass[i].name  %></span>
                    <span class="row"><%= kickass[i].age  %></span>
                    <span class="row"><%= kickass[i].location %></span>
                    <button type="button" id="<%= kickass[i]._id.toString() %>" class="delUserBtn">X</button>
                </li>
            <% } %>
        </ul>


        <script src="javascripts/test.js"></script>
    </body>
</html>
